{% extends 'teeamo/basic.html' %}

{% block title %} About {% endblock %}

{% block body %}

<div class="section">
        <div class="container">
            <div class="title">
                <h1>About Teeamo</h1>
            </div>
            <div class="content">
                <div class="article">
                    <h3>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, repudiandae!
                    </h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident fuga molestiae quis, molestias eos delectus placeat voluptas nobis fugiat nesciunt illum sit. Neque eos rem, sint, quisquam consequatur hic accusantium, quaerat modi omnis atque iusto voluptatum officia ratione dolore eligendi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam porro quam quisquam dolores atque eaque ipsum autem iusto aspernatur temporibus.
                        lorem ipsum dolor sit amet, consectetur adipisicing el lorem ipsum dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit.lorem ipsum dolor. Lorem ipsumlorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
            </div>
            <div class="social">
                <i class="fa fa-facebook-f" style="font-size:24px"></i>
                 <a href="https://www.instagram.com/teeamoclothing/"><i class="fa fa-instagram"
                                                                        style="font-size:24px"></i></a>
                <a href="https://wa.me/919044592578"><i class="fa fa-whatsapp" style="font-size:24px"></i></a>
            </div>
        </div>
    </div>


<!-- This is upper footer html -->
<div class="upfooter">
    <div class="upcontainer">
        <div class="upfootercontent1">
            <h3>Best Quality</h3>
            <p>At Teeamo,quality is explicit.
                Our Aim is to deliver best quality product to our consumer.
            </p>
        </div>
        <div class="upfootercontent2">
            <h3>Best Offers</h3>
            <p>Offers every time you shop with Teeamo.Do visit us online and stay tune for many more offers.</p>
        </div>
        <div class="upfootercontent3">
            <h3>Secure Payments</h3>
            <p>At Teeamo , payments are totally secure and powered by x gateway.</p>
        </div>
    </div>
</div>




{% endblock %}