{% extends 'teeamo/basic.html' %}

{% block title %} Login & Sign-Up {% endblock %}


{% block body %}
{% load static %}

 <!---------accont-page--------->
    <div class="account-page">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src='{% static "home/homepagebg4.png" %}' width="50%">
                </div>
                <div class="col-2">
                    <div class="form-container">
                        <div class="form-btn">
                            <span onclick="login()">Login</span>
                            <span onclick="register()">Register</span>
                            <hr id="Indicator">
                        </div>

                        <form id="LoginForm">
                        {% csrf_token %}
                             <input type="email" name="email" placeholder="Email" required>
                            <input type="password" name="password1" placeholder="Password" required>
                            <button type="submit" class="btn">Log In</button>
                            <a href="">Forgot Password</a>
                        </form>

                        <form action='/teeamo/signup/' method="POST" name="signup" id="RegForm">
                            {% csrf_token %}
                            <input type="email" name="email" placeholder="Email" required>
                            <input type="password" name="password1" placeholder="Password" required>
                            <input type="password" name="password2" placeholder="Re-enter Password" required>
                            <button type="submit" class="btn">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


 <!------------ js for toggle form--------------->
    <script>
        var LoginForm = document.getElementById("LoginForm");
        var RegForm = document.getElementById("RegForm");
        var Indicator = document.getElementById("Indicator");


        function register() {
            RegForm.style.transform = "translateX(0px)";
            LoginForm.style.transform = "translateX(0px)";
            Indicator.style.transform = "translateX(100px)";
        }

        function login() {
            RegForm.style.transform = "translateX(300px)";
            LoginForm.style.transform = "translateX(300px)";
            Indicator.style.transform = "translateX(0px)";
        }
    </script>


{% endblock %}