{% extends 'teeamo/basic.html' %}

{% block title %} Home {% endblock %}

{% block body %}
 <div class="body-content">

            <p class="para"><br> Thank you for shopping with Teeamo . We would like you to read our terms carefully to ensure that you are fully aware of your rights when purchasing products from our website.
                <br>By ordering from the Teeamo website, you agree to be bound by the following terms and conditions.</p>
            <br>
    <h2 class="head">PURCHASE POLICY</h2>
            <br>
            <p class="para">You must provide complete and accurate details at the time of making your purchase. You may be required to provide additional details upon our request to ensure the <br>accuracy of your order. You must enter the correct delivery address and delivery instructions at the time of placing your order.
                If you enter an incorrect shipping address, Teeamo<br> is not obliged to re-send the order to the correct address at our own expense. Once your order is confirmed, we are not obliged to make any changes or cancellations.


            <br>
            <p class="para">All prices quoted on the Website are in Indian Rupee(INR)</p>
            <br>
            <h2 class="head">PURCHASE PRICE</h2>
            <br>
            <p class="para">Thank you for shopping with Teeamo . We would like you to read our terms carefully to ensure that you are fully aware of your rights when purchasing products from our website.<br>
                By ordering from the Teeamo website, you agree to be bound by the following terms and conditions.

                All prices quoted on the Website are in Indian Rupee (INR).</p>
            <br>
            <p class="para">All prices quoted on the Website are in Indian Rupee(INR)</p>
            <br>
            <h2 class="head">PAYMENT</h2>
            <br>
            <p class="para">Teeamo accepts payment via credit/debit card, Gpay / Paytm.
                After you make payment for your order, we will email you an invoice, which confirms receipt<br> of your order.</p>
            <br>
            <h2 class="head">PROCESSING OF ORDERS</h2>
            <br>
            <p class="para">Processing time is around 1-5 business days. Please keep in mind that some of the items are made individually (eg. Tie dyes) so it takes time for shipping.
                After shipping,<br> delivery will take around 4-5 days.</p>
            <br>
            <h2 class="head">SHIPPING</h2>
            <br>
            <p class="para">Once items leave our facility, we are not responsible for items lost, missing, or damaged by the carrier.</p>
            <br>
            <h2 class="head">CASH ON DELIVER</h2>
            <br>
            <p class="para">We do have an option for cash on delivery, for this you have to receive the product once it is out for delivery (only 2 tries will be done in case you are not available at the address)<br>
                There are extra charges for cash on delivery which are applied at the checkout.</p>
            <br>
            <h2 class="head">CANCELLATIONS</h2>
            <br>
            <p class="para">We do not accept cancellation requests once an order has been placed.</p>
            <br>
            <h2 class="head">RETURNS/REFUNDS</h2>
            <br>
            <p class="para">We don’t do returns / refunds once an order has been placed.

                Exchanges of the products will only be accepted in case the product is damaged, or the product is not what<br> you ordered.

                It will only be exchanged when you send us a picture of the Damaged product on our Instagram handle or via email.

                <br>Instagram handle – @teeamoclothing
                <br>Call - 9029081071</p>
        </div>

        {% endblock %}